#body{
    background: #90B5A0;
    color: white;
    overflow-x:hidden;
}

#Title{
    font-size: 5em;
}

img{
    width: 2em;
    height: 2em;
}

#Icon img{
    width: 10em;
    height: 10em;
}

#temp-button{
  color: #fff;
}

#navbar{
  background-color: transparent;
}
